body{
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

img{
    margin-top: 1rem;
    max-width:40%;
    max-height:40%;
}

.button{
    display: block;
    color: #3d3b3c;
    text-decoration: none;
    padding: 1rem;
    border: solid 2px #3d3b3c;
    background-color: #fff;   
    margin: 1.1rem;
}

.button:hover{
    color: #fff;
    border: solid 2px #3d3b3c;
    background-color: #3d3b3c; 
}

.main{
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.menu{
    list-style: none;
    padding: 0;
}

.icon{
    font-size: 2rem;
    color: #3d3b3c;
    margin: .5rem;
}

.icon:hover{
    color: gray
}